.mobile-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-top: 60px;
}

.mobile-menu a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    transition: color 0.3s ease;
}

.mobile-menu a:hover {
    color: #ddd;
}

.mobile-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-left, .menu-right .cta-button {
        display: none;
    }

    .menu-right .hamburger {
        display: flex;
        }

        .ofertas{
            padding: 10px;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
